.dialog {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(170, 170, 170, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dialog--closed {
  display: none;
}

.dialog__window {
  width: 500px;
  height: 500px;
  background-color: bisque;
  border: 2px solid rgb(201, 115, 10);
  border-radius: 10px;
}