/* anton-regular - latin */
@font-face {
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../../assets/fonts/anton-v23-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../../assets/fonts/anton-v23-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

/* goudy-bookletter-1911-regular - latin */
@font-face {
    font-family: 'Goudy Bookletter 1911';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../../assets/fonts/goudy-bookletter-1911-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../../assets/fonts/goudy-bookletter-1911-v15-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

/* montserrat-500 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../../assets/fonts/montserrat-v25-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../../assets/fonts/montserrat-v25-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

/* border-box model for all elements */

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/* --- Page color styling --- */

:root {
    --color-background-main-1: #e7cfaa;
    --color-background-main-2: #f9f3ee;
    --color-background-main-3: #ffffff;
    --color-background-popup-1: #e7cfaab7;
    --color-background-disabled-1: #ececec;
    --color-invalid: #ff0000;
    --color-main-font-1: #d9aa63;
    --color-main-font-2: #2b1811;
}

/* ---------------------------------- */

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-background-main-1);
    color: var(--color-main-font-1);
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 16px;
}

body.opened-popup {
    overflow-y: hidden;
}

img {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

h1 {
    width: 190px;
    height: 35px;
    margin: 0;
    font-family: 'Anton', sans-serif;
    font-size: 32px;
    color: var(--color-main-font-1);
    display: block;
}

h2 {
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 44px;
}

h3 {
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 35px;
}

h4 {
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.01em;
}

a {
    text-decoration: none;
    color: var(--color-main-font-1);
}

button {
    transition-duration: 0.4s;
}

button:hover {
    cursor: pointer;
}

.invalid {
    color: var(--color-invalid);
    border-color: var(--color-invalid);
    background-color:var(--color-background-main-2);
}

.invalid-message {
    margin-bottom: 15px;
    color: var(--color-invalid);
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

/* --- App forms Styling ---*/

form {
    font-size: 24px;
    display: flex;
    flex-direction: column;
}

fieldset {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid var(--color-background-main-1);
    margin: 4px 0;
}

input {
    color: var(--color-main-font-1);
    border-color: var(--color-background-main-1);
}

input[type="text"] {
    margin: 6px 0;
    height: 34px;
    padding: 0 5px 0 15px;
    border-width: 3px;
    border-radius: 17px;
}

legend, label {
    text-align: center;
}

input[type="radio"] {
    width: 20px;
    height: 20px;
}

.form-title {
    font-size: 34px;
    margin: 0 0 20px 0;
    text-align: center;
}

.form-submit-button {
    height: 50px;
    margin: 20px 60px;
    font-size: 30px;
    color: var(--color-main-font-1);
    border-radius: 16px;
    border: 2px solid var(--color-background-main-1);
    box-shadow: none;
    background-color: var(--color-background-main-2);
    cursor: pointer;
}

.form-submit-button:disabled {
    border: 1px solid var(--color-background-main-3);
    color: var(--color-background-main-3);
    background-color: var(--color-background-disabled-1);
    box-shadow: none;
    cursor: not-allowed;
}
